<section>
    <div class="container mt-4">
        <div id="flash-messages" class="container"></div>
        <div class="row">
            <div class="col-md-6">
                {{#if messages.error}}
                <div class="alert alert-danger">{{messages.error}}</div>
                {{/if}}
                {{#if messages.success}}
                <div class="alert alert-success">{{messages.success}}</div>
                {{/if}}
                <h2 class="text-center">Add Product</h2>
                <form action="/admin/edit-product/{{product._id}}" method="Post" enctype="multipart/form-data">
                    <label for="Name">Product Name</label>
                    <input type="text" id="Name" name="Name" class="form-control" value="{{product.Name}}">
                    <label for="">Category</label>
                    <select name="Category" id="category" class="form-control">
                        <option value="" disabled selected>{{product.Category}}</option>
                        {{#each categories}}
                        <option value="{{this.name}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    <div class="category error" style="color: red;"></div>
                    <label id="subcategorylabel" for="">Subcategory</label>
                    <select name="subcategory" id="subcategory" class="form-control">
                        <option value="" disabled selected>Select subCategory</option>
                    </select>
                    <div class="sub error" style="color: red;"></div>
                    <label for="price">Price</label>
                    <input type="text" id="price" name="price" class="form-control" value="{{product.price}}">
                    <label for="Description">Description</label>
                    <input type="text" id="Description" name="Description" class="form-control" value="{{product.Description}}">
                    <div class="row">
                       
                  <div class="col-12">
    <label for="images">Images</label>
    <input type="file" id="images" name="images" class="form-control">
    <div class="row">
        {{#each product.images}}
            <div class="col-3" style=" padding-top: 10px;">
                <div class="position-relative">
                    <img src="data:{{contentType}};base64,{{imageBase64}}" class="d-block w-100" alt="{{filename}}" style="height: 90px; width: 100%;">
                    <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0" onclick="showDeleteConfirmation('{{../product._id}}', '{{filename}}')">x</button>
                </div>
            </div>
        {{/each}}
    </div>
</div>

                    </div>
                    <button type="submit" class="btn mt-4" style="background-color: #BB84E8; border-radius: 50px; width: 230px; height: 30px; margin: 0 auto; color:white;">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#category').change(function () {
            var selectedCategory = $(this).val();

            // Send an AJAX request to fetch subcategories for the selected main category
            $.ajax({
                url: `/admin/get-subcategories/${selectedCategory}`,
                method: 'GET',
                success: function (response) {
                    var subcategorySelect = $('#subcategory');
                    subcategorySelect.empty(); // Clear existing options
                    if (response.subcategories.length > 0) {
                        response.subcategories.forEach(function (subcategory) {
                            subcategorySelect.append($('<option>').text(subcategory).val(subcategory));
                        });
                        $('#subcategorylabel').show();
                        $('#subcategory').show();
                    } else {
                        $('#subcategory').hide();
                        $('#subcategorylabel').hide();
                    }
                },
                error: function (error) {
                    console.error("Error fetching subcategories:", error);
                }
            });
        });
    });


     function showDeleteConfirmation(productId, imageId) {
              console.log("pro:",productId,"img:",imageId)

        var modalHtml = `
          <div class="modal" tabindex="-1" role="dialog" id="deleteConfirmationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="canceldeleteBox()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this image?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="canceldeleteBox()">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="confirmDelete('${productId}','${imageId}')">Delete</button>
            </div>
        </div>
    </div>
</div>
        `;

        // Append the modal HTML to the body
        $('body').append(modalHtml);

        // Show the modal
        $('#deleteConfirmationModal').modal('show');
    }

    function canceldeleteBox(){
            $('#deleteConfirmationModal').modal('hide');
    }
    function confirmDelete(productId, imageId) {
        // Handle the delete operation here
        console.log("pro:",productId,"img:",imageId)
        // Make a GET request to delete the product
        fetch(`/admin/delete-image/${productId}/${imageId}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.status) {
                console.log('Product deleted successfully');
                location.reload("/admin/view-product")

            } else {
                console.error('Error deleting product:', data.error);
                // Handle the error
            }

            // Close the modal
            $('#deleteConfirmationModal').modal('hide');
        })
        .catch(error => {
            console.error('Error making GET request:', error);
            // Handle the error
            // Close the modal if needed
            $('#deleteConfirmationModal').modal('hide');
        });
    }
</script>
